<div class="container_Class">
		<svg class="inputcontainer">
			<rect class="inputcontainer_Class" rx="43" ry="43" x="0" y="0" width="1245" height="861">
			</rect>
		</svg>
		<div class="firstname_Class">
			<svg class="inputfield">
				<rect class="inputfield_Class" rx="45" ry="45" x="0" y="0" width="513" height="90">
				</rect>
			</svg>
			<div class="First_Name_Class">
				<span>First Name</span>
			</div>
			<div class="placeholder_Class">
				<span>First name</span>
			</div>
		</div>
		<div class="Lastname_Class">
			<svg class="inputfield_bi">
				<rect class="inputfield_bi_Class" rx="45" ry="45" x="0" y="0" width="513" height="90">
				</rect>
			</svg>
			<div class="Last_Name_Class">
				<span>Last Name</span>
			</div>
			<div class="placeholder_bk_Class">
				<span>Last Name</span>
			</div>
		</div>
		<div class="phonenumber_Class">
			<svg class="inputfield_bm">
				<rect class="inputfield_bm_Class" rx="45" ry="45" x="0" y="0" width="513" height="90">
				</rect>
			</svg>
			<div class="Phone_Number_Class">
				<span>Phone Number</span>
			</div>
			<div class="placeholder_bo_Class">
				<span>Phone number</span>
			</div>
		</div>
		<div class="email_Class">
			<svg class="inputfield_bq">
				<rect class="inputfield_bq_Class" rx="45" ry="45" x="0" y="0" width="513" height="90">
				</rect>
			</svg>
			<div class="Email_br_Class">
				<span>Email</span>
			</div>
			<div class="placeholder_bs_Class">
				<span>Email</span>
			</div>
		</div>
		<div class="City_Class">
			<svg class="inputfield_bu">
				<rect class="inputfield_bu_Class" rx="45" ry="45" x="0" y="0" width="513" height="90">
				</rect>
			</svg>
			<div class="City_bv_Class">
				<span>City</span>
			</div>
			<div class="placeholder_bw_Class">
				<span>City</span>
			</div>
		</div>
		<div class="State_Class">
			<svg class="inputfield_by">
				<rect class="inputfield_by_Class" rx="45" ry="45" x="0" y="0" width="513" height="90">
				</rect>
			</svg>
			<div class="State_bz_Class">
				<span>State</span>
			</div>
			<div class="placeholder_b_Class">
				<span>State</span>
			</div>
		</div>
		<div class="Country_Class">
			<svg class="inputfield_b">
				<rect class="inputfield_b_Class" rx="45" ry="45" x="0" y="0" width="513" height="90">
				</rect>
			</svg>
			<div class="Country_b_Class">
				<span>Country</span>
			</div>
			<div class="placeholder_ca_Class">
				<span>Country</span>
			</div>
		</div>
		<div class="save_button_Class">
			<svg class="Rectangle_1">
				<rect class="Rectangle_1_Class" rx="35.5" ry="35.5" x="0" y="0" width="205" height="71">
				</rect>
			</svg>
			<div class="Save_Class">
				<span>Save</span>
			</div>
		</div>
	</div>