<div class="navigation_items_Class">
		<div class="course_Class">
			<svg class="box">
				<rect class="box_Class" rx="21" ry="21" x="0" y="0" width="150" height="74">
				</rect>
			</svg>
			<div class="Courses_Class">
				<span>Courses</span>
			</div>
		</div>
		<div class="certification_Class">
			<svg class="box_l">
				<rect class="box_l_Class" rx="21" ry="21" x="0" y="0" width="205" height="74">
				</rect>
			</svg>
			<div class="Certification_m_Class">
				<span>Certification</span>
			</div>
		</div>
		<div class="finalresume_Class">
			<svg class="box_o">
				<rect class="box_o_Class" rx="21" ry="21" x="0" y="0" width="224" height="74">
				</rect>
			</svg>
			<div class="finalresume_p_Class">
				<span>finalresume</span>
			</div>
		</div>
		<div class="projects_Class">
			<svg class="box_r">
				<rect class="box_r_Class" rx="21" ry="21" x="0" y="0" width="160" height="74">
				</rect>
			</svg>
			<div class="projects_s_Class">
				<span>projects</span>
			</div>
		</div>
		<div class="objective_Class">
			<svg class="box_u">
				<rect class="box_u_Class" rx="21" ry="21" x="0" y="0" width="190" height="74">
				</rect>
			</svg>
			<div class="Objectives_Class">
				<span>Objectives</span>
			</div>
		</div>
		<div class="experience_Class">
			<svg class="box_x">
				<rect class="box_x_Class" rx="21" ry="21" x="0" y="0" width="202" height="74">
				</rect>
			</svg>
			<div class="Experiences_Class">
				<span>Experiences</span>
			</div>
		</div>
		<div class="socials_Class">
			<svg class="box_">
				<rect class="box__Class" rx="21" ry="21" x="0" y="0" width="131" height="74">
				</rect>
			</svg>
			<div class="socials__Class">
				<span>Socials</span>
			</div>
		</div>
		<div class="about_Class">
			<svg class="box_ba">
				<rect class="box_ba_Class" rx="21" ry="21" x="0" y="0" width="116" height="74">
				</rect>
			</svg>
			<div class="About__Class">
				<span>About</span>
			</div>
		</div>
		<div class="skills_Class">
			<svg class="box_bb">
				<rect class="box_bb_Class" rx="21" ry="21" x="0" y="0" width="121" height="74">
				</rect>
			</svg>
			<div class="Skills__Class">
				<span>Skills</span>
			</div>
		</div>
		<div class="education_Class">
			<svg class="box_bc">
				<rect class="box_bc_Class" rx="21" ry="21" x="0" y="0" width="194" height="74">
				</rect>
			</svg>
			<div class="Education_ba_Class">
				<span>Education</span>
			</div>
		</div>
	</div>