<div class="col-md-8">
<script src="//geodata.solutions/includes/countrystatecity.js"></script>
<form action="{% url 'resume_about' resume_id %}" method="post">
    {% csrf_token %}


        <div class="form-group row" id="name_email">

        <div class="form-group col-md-6 mb-3">
            <label for="Firstname">first name</label>
            <input type="text" class="container-text input" id="Firstname" placeholder="Enter First Name" name="firstname" {% if instance != None %} value="{{ instance.firstname }}"{% endif %}>
        </div>

        <div class="form-group col-md-6 mb-3">
            <label for="lastname">Last name</label>
            <input type="text" class="container-text input" id="lastname" placeholder="Enter last Name" name="lastname" {% if instance != None %} value="{{ instance.lastname }}"{% endif %}>
        </div>

      </div>


      <div class="form-group row" id="name_email">

        <div class="form-group col-md-6 mb-3">
            <label for="Phonenumber">Phone number</label>
            <input type="text" class="container-text input" id="Phonenumber" placeholder="Enter Phone number" name="phonenumber" {% if instance != None %} value="{{ instance.phonenumber }}"{% endif %}>
        </div>

        <div class="form-group col-md-6 mb-3">
            <label for="exampleInputEmail1">email</label>
            <input type="email" class="container-text input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email"  {% if instance != None %} value="{{ instance.email }}"{% endif %}>
        </div>

      </div>

      <div class="form-group row">

        <div class="form-group col-md-4 mb-3">
                <label for="country">Country</label>
                <input type="text" class="container-text input" id="country" placeholder="Country" name="Country"  {% if instance != None %} value="{{ instance.Country }}"{% endif %}>

        </div>
        <div class="form-group col-md-4 mb-3">
                <label for="state">State</label>
                <input type="text" class="container-text input"  id="state" placeholder="State" name="State"  {% if instance != None %} value="{{ instance.State }}"{% endif %}>

        </div>
        <div class="form-group col-md-4 mb-3">
                <label for="city">City</label>
                <input type="text" class="container-text input"  id="city" placeholder="City" name="City"  {% if instance != None %} value="{{ instance.City }}"{% endif %}>

        </div>
      </div>

      <input type="submit" value="Save" class="save_button">


</form>
</div>